a {
  color: #eb4947;
}
a:hover {
  color: #e61c19;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #eb4947;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #eb4947;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #eb4947;
}
#offcanvas-toggler >i {
  color: #fff;
}
#offcanvas-toggler >i:hover {
  color: #eb4947;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #e82e2b;
  background-color: #eb4947;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #cf1917;
  background-color: #e61c19;
}
ul.social-icons >li a:hover {
  color: #eb4947;
}
.sp-page-title {
  background: #eb4947;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #eb4947;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #eb4947;
}
.sp-module .tagscloud .tag-name:hover {
  background: #eb4947;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #eb4947;
}
.search .btn-toolbar button {
  background: #eb4947;
}
.post-format {
  background: #eb4947;
}
.voting-symbol span.star.active:before {
  color: #eb4947;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #e61c19;
}
.entry-link,
.entry-quote {
  background: #eb4947;
}
blockquote {
  border-color: #eb4947;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #eb4947;
}
#sp-footer {
  background: #eb4947;
}
.sp-comingsoon body {
  background-color: #eb4947;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #eb4947;
  background-color: #eb4947;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #eb4947;
  background-color: #eb4947;
}
/***** PRESET *****/
.at-blog-category a,
.at-project-item-center h2,
.at-info-block-1-content:hover h5,
.at-our-services-item:hover span i,
.at-our-services-item:hover h5,
.at-services-item:hover span,
.at-faq-sec-faq h3 em,
#at-blog div.k2ItemsBlock ul li:hover .moduleItemTitle,
#at-slider-second span,
.at-helpful-item:hover h5,
.at-info-block-img-right-text strong,
.at-introduction .at-intro-sub:hover h3,
.at-slider .atmediumlightblack,
.at-banner-content .sppb-addon-title,
.at-service-item:hover h3,
.at-sub-team h4,
.at-history-sub .at-history-item:hover h3,
.at-statistic i {
    color: #eb4947!important;
}
#sp_qc_submit,
.projects-filter a.selected, 
.btn-main,
#at-call-us,
#at-slider .tp-button,
#at-slider .excerpt,
.at-block1-item a,
.at-services-item,
#at-blog div.k2ItemsBlock ul li .moduleItemReadMore,
#at-slider-second .tp-button,
.at-info-block-img-left a,
.at-funfact-item::after,
.at-action-content h2::after,
.at-features-desc-content h3::after,
.at-pricing-table:hover .btn,
.at-blog-tags .k2TagCloudBlock a:hover,
.at-our-skill .at-skill-sub p .expand,
.at-slider .at-button:hover,
.at-introduction .at-intro-sub i,
.at-button:hover,
.at-service-item:hover i,
.at-history-sub .at-history-item:hover i {
    background: #eb4947!important;
}
.at-blog-category .catCounter,
.at-services-item span,
.at-check-out-content a:hover,
.blogDate {
    background: #eb4947;
}
.projects-filter a,
.at-info-block-1-content:hover img,
.at-blog-tags .k2TagCloudBlock a:hover {
    border-color: #eb4947!important;
}
h3.sppb-addon-title,
.sppb-section-title  h3 {
    background: url(../../images/presets/preset4/border-title.png) top left no-repeat;
}
.projects-filter a.selected, 
.projects-filter a.selected:hover,
.projects-filter a:hover {
    background: #eb4947!important;
}
.projects-wrapper .project-img:hover .project-img-extra {
    background: rgba(235, 73, 71, .7)!important;
}